<div class="tab-container">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect is-upgraded">
    <div class="mdl-tabs__tab-bar">
      <a href="#blogs-tab" class="mdl-tabs__tab is-active">Blogs</a>
      <a href="#tools-tab" class="mdl-tabs__tab">Tools</a>
      <a href="#educational-tab" class="mdl-tabs__tab">Education</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="blogs-tab">
      <ul>
        <li>
          <a target="_blank" href="https://www.smashingmagazine.com">Smashing Magazine</a>
        </li>
        <li>
          <a target="_blank" href="https://www.css-tricks.com">Css-Tricks</a>
        </li>
        <li>
          <a target="_blank" href="http://www.onextrapixel.com/">One Extra Pixel</a>
        </li>
        <li>
          <a target="_blank" href="https://scotch.io/">Scotch.io</a>
        </li>
        <li>
          <a target="_blank" href="https://alistapart.com/articles/">A List Apart</a>
        </li>
        <li>
          <a target="_blank" href="https://http://sixrevisions.com/">Six Revisions</a>
        </li>
      </ul>
    </div>

    <div class="mdl-tabs__panel" id="tools-tab">
      <ul>
        <li>
          <a target="_blank" href="https://getmdl.io/index.html">Google MDL</a>
        </li>
        <li>
          <a target="_blank" href="https://search.creativecommons.org/">Creative Commons</a>
        </li>
        <li>
          <a target="_blank" href="http://paletton.com/">Paletton</a>
        </li>
        <li>
          <a target="_blank" href="http://www.blokkfont.com/">Blokk Font</a>
        </li>
        <li>
          <a target="_blank" href="https://fonts.google.com/">Google Fonts</a>
        </li>
        <li>
          <a target="_blank" href="https://dribbble.com/">Dribble</a>
        </li>
        <li>
          <a target="_blank" href="https://www.heroku.com/">Heroku</a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/">GitHub</a>
        </li>

      </ul>
    </div>

    <div class="mdl-tabs__panel" id="educational-tab">
      <ul>
        <li>
          <a target="_blank" href="https://www.FreeCodeCamp.com">Free Code Camp</a>
        </li>
        <li>
          <a target="_blank" href="https://www.lynda.com">Lynda</a>
        </li>
        <li>
          <a target="_blank" href="https://www.codecademy.com/">Code Academy</a>
        </li>
        <li>
          <a target="_blank" href="https://www.codeschool.com/">Code School</a>
        </li>
        <li>
          <a target="_blank" href="http://gainesvilledevacademy.com/">Gainesville Dev Academy</a>
        </li>
        <li>
          <a target="_blank" href="https://frontendmasters.com/">Frontend Masters</a>
        </li>
      </ul>
    </div>
  </div>
</div>
