<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#blogs-tab" class="mdl-tabs__tab">Blogs</a>
    <a href="#tools-tab" class="mdl-tabs__tab">Tools</a>
    <a href="#educational-tab" class="mdl-tabs__tab">Education</a>
  </div>

  <div class="mdl-tabs__panel is-active" id ="blogs-tab">
    <ul>
      <li>
        <a href="https://www.smashingmagazine.com">Smashing Magazine</a>
      </li>
      <li>
        <a href="https://www.css-tricks.com">Css-Tricks</a>
      </li>
    </ul>
  </div>

  <div class="mdl-tabs__panel" id="tools-tab">
    <ul>
      <li>
        <a href="https://getmdl.io/index.html">Google MDL</a>
      </li>
      <li>
        <a href="https://search.creativecommons.org/">Creative Commons</a>
      </li>
    </ul>
  </div>

  <div class="mdl-tabs__panel" id="educational-tab">
    <ul>
      <li>
        <a href="https://www.FreeCodeCamp.com">Free Code Camp</a>
      </li>
      <li>
        <a href="https://www.lynda.com">Lynda</a>
      </li>
    </ul>
  </div>

</div>
