<div class="mdl-grid about-container">
  <div class="mdl-cell mdl-cell--3-offset-desktop mdl-cell--3-col-desktop mdl-cell--4-col-tablet">
    <%= image_tag 'profile.jpg', alt: "Profile Picture", width: "200", height: "200", class: 'about-image'%>
  </div>
  <div class="mdl-cell mdl-cell--4-col-desktop">
    <h2>Joel Huffman</h2>
    <h3>Full Stack Developer</h3>
  </div>
  <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop mdl-cell--8-col-tablet">
    <p>
      Welcome to my blog developed with Ruby on Rails 5.  I am a developer working to enter the field of development with passion.
      I have been developing for almost two years with the most interesting things happening recently.  I have worked through an intership with
      a local development company in Gainesville, FL and absorbed as much knowledge and information as I could.  This blog is my next step in my
      drive towards a career in web development and plan on using this as a platform to teach myself new tools to use, formatting styles, and advanced
      concepts of computer programming.<br /><br />
      I graduated with my bachelors in December 2016 but not in computer science, my major was IT Management.  The path I took for this degree was chosen
      at a time where I wasn't entirely sure of what I wanted to do and a management degree in IT seemed like a good path to take for job security purposes.
      This fortunatly led me to my introduction to web development class where a spark of passion was created inside me.  Once I completed that class, I took
      as many programming classes as my degree would allow and after that took learning into my own hands.  After learning the basics at school, FreeCodeCamp
      and other online coding websites became my outlet to learn.<br /><br />
      Feeling confident at this point to took on a project developing an e-commerce platform for a friend of mine selling skateboards locally.  The project
      entailed PHP, SQL and the other basic languages and got in pretty deep.  As I only had a base knowledge is most of these languages StackExchange became
      my best friend.  The site turned out a satisfied customer but the code behind the site was trechorous.<br /><br />
      This is my path to be the best developer I can be and passion is what is driving me.<br />
      Wish me luck!<br />
    </p>
  </div>

</div>
