// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mdl-card__title {
  color: #fff;
  height: 176px;
}

.mdl-button {
  margin: 10px;
}
