// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mdl-card__title {
  color: #fff;
  height: 176px;
  position: relative;
}

.mdl-button {
  margin: 10px;
}

.mdl-card__title-text {
  z-index: 3;
}

.container-image {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
