@import "variables";

header {
  position: fixed;

  .mdl-navigation__link {
    border-left: 2px solid $primary-color;
  }
  .mdl-navigation__link:hover {
    border-left: 2px solid $accent-color;
  }
  .mdl-navigation__link:active {
    border-left: 2px solid $accent-color;
    box-shadow: inset 1px 1px 1px black;
  }

  .header-logo {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }
}
