<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Develocity</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <%= link_to "Home", root_path, class: "mdl-navigation__link" %>
        <%= link_to "Resources", articles_path, class: "mdl-navigation__link" %>
        <%= link_to "About", articles_path, class: "mdl-navigation__link" %>
        <%= link_to "Contact", articles_path, class: "mdl-navigation__link" %>
     </nav>
    </div>
  </header>
</div>
