<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><h1 class="header-logo">Develocity</h1></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <%= link_to "Home", root_path, class: "mdl-navigation__link" %>
      <%= link_to "Resources", resources_path, class: "mdl-navigation__link" %>
      <%= link_to "About", articles_path, class: "mdl-navigation__link" %>
      <%= link_to "Contact", articles_path, class: "mdl-navigation__link" %>
   </nav>
  </div>
</header>
